@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #83c716;
    --cor-padrao-hover: #597729;
    --cor-fonte:#fff;
    --cor-fonte-p:#555;
    --cor-btn:#563434;
    --cor-btn-hover:#89DC00;
    --cor-btn-fonte:#000;
    --cor-fonte-corpo:#555;
    --cor-fonte-corpo-leve:#777;
}


body {
    font-family: 'Poppins',sans-serif;
}

.banner {
    background: radial-gradient(var(--cor-padrao-hover),var(--cor-padrao));
}

.banner .linha {
    margin-top: 70px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    /*align-items: center;  DEIXAR O MENU DE NAVEGAÇÃO MAIS PARA O MEIO*/
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;

}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-fonte);
    font-weight: 600;
    transition-duration: 0.5s;
}

nav ul li a:hover {
    padding: 10px;
    border-radius: 20px;
    background-color: var(--cor-btn-fonte);
    color: var(--cor-fonte);
}

.banner p {
    color: var(--cor-fonte);
}

p {
    color: var(--cor-fonte-p);
}

.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 26px 0;
}

.col-2 p {
    font-weight: 600;
    color: var(--cor-btn-fonte);
}

.btn {
    text-decoration: none;
    color: var(--cor-fonte);
    background: var(--cor-btn);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: 0.5s;
}

.btn:hover {
    background: var(--cor-btn-fonte);
    color: var(--cor-fonte);
}

.categorias {
    margin: 70px 0;
    padding: 10px;
}

.corpo-categorias {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3 {
    flex-basis: 30%;
    max-width: 350px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.col-4 {
    flex-basis: 25%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s ;
}

.col-4:hover {
    transform: scale(1.1);
} 

.col-4 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.titulo {
    position: relative;
    line-height: 60px;
    margin: 0 auto 80px;
    text-align: center;
    color: var(--cor-fonte-corpo);
}

.titulo::after {
    content: '';
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: var(--cor-fonte-corpo);
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.classificacao {
    color: var(--cor-padrao);
}

.menu-celular {
    height: 28px;
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*---------- MENU CELULAR ----------*/

@media only screen and (max-width:800px){
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: var(--cor-btn-fonte);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: var(--cor-fonte);
    }

    .menu-celular {
        display: block;
        cursor: pointer;
    }
}

/*---------- CELULAR 600 ----------*/
@media only screen and (max-width:600px){
    .linha {
        text-align: center;
    }

    .col-2,.col-3,.col-4 {
        flex-basis: 100%;
    }

    .col-2 h1 {
        font-size: 27px;
    }

    
}